/* static/styles.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 50px 0 0;
    background-color: var(--background);
    color: var(--text);
    border-color: var(--border);
}

form {
    max-width: 400px;
    margin: 20px auto;
}

input[type="text"] {
    width: 92%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #3555bb;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #2a3d7e;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* Centraliza a tabela horizontalmente */
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    /* Adiciona espaçamento abaixo do título */
}



.back-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sum-geracao {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.result-container {
    margin-top: 20px;
    width: 100%;
    /* Define a largura total do contêiner */
    overflow-x: auto;
}

.table-container {
    width: 100%;
    /* Ajustado para ocupar 100% da largura do contêiner pai */
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    width: 300px;
    /* Substitua este valor pelo tamanho desejado */
}


/* Adiciona uma regra de estilo quando o select estiver focado */
select:focus {
    outline: none;
    border-color: #4CAF50;
    /* Altere para a cor desejada */
}

/* Adiciona estilos ao ícone do calendário no input com a classe datepicker */
.ui-datepicker-trigger {
    background: url("caminho-para-o-seu-icone.png") no-repeat center center;
    width: 16px;
    /* Ajuste conforme necessário */
    height: 16px;
    /* Ajuste conforme necessário */
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 5px;
    /* Adiciona um espaçamento à esquerda do ícone */
}